.top-right ul li.notification a {
    background: rgba(0, 0, 0, 0) url("../../img/top-icons.png") no-repeat scroll 0 0;
    display: block;
    text-decoration: none;
     height: 50px;
}
.top-right ul li a span {
    background: #ff5f07 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    position: absolute;
    right: 9px;
    text-align: center;
    top: -4px;
}
.pull-right .notification a {
    background: rgba(0, 0, 0, 0) url("../../img/top-icons.png") no-repeat scroll 0 0;
    display: block;
    text-decoration: none;
     height: 50px;
     width:42px;
}
.pull-right a span {
    background: #ff5f07 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    position: absolute;
    right: 9px;
    text-align: center;
    top: -4px;
}
.golden_main_top {
    background: #eee none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 17px;
    font-weight: normal;
    margin-top: 20px;
    padding: 10px;
    width: 475px;
}
.golden_main_top {
    color: #fff;
    font-size: 17px;
    font-weight: normal;
}
.golden_main_top {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}
.bicky-table {
 border-left: 1px solid #DDDDDD;
border-top: 1px solid #DDDDDD;
width: 100%;
font-size:12px;
}

.bicky-gmail .message_title_new {
background: none repeat scroll 0 0 #F5F5F5;
border-bottom: 1px solid #CCCCCC;
border-right: 1px solid #DDDDDD;
color: #000000;
font-weight: bold;
padding: 6px 10px;
}

.bicky_message_box_title {
  width: 100% !important;
}


#message_box_title {
  float: left;
  height: auto;
  width: 100%;
}

.bicky-table .message_text {border-right: 1px solid #CCCCCC;
padding: 6px 10px; border-bottom:1px solid #CCCCCC;}
	.message_text .link_txt {color: #666666 !important;
text-decoration: none;}
.message_text .link_txt:hover{ text-decoration:underline !important;}
	
.bicky-gmail #message_main_box_right ul li a:hover {background:#000;}
	
#GmailWritemailForm #demo-input-facebook-theme { border: 1px solid #CCCCCC; border-radius: 4px;padding: 4px 5px 5px;}
#GmailWritemailForm .field-subject { border: 1px solid #CCCCCC; border-radius: 4px;padding: 4px 5px 5px; width:367px;}

.pagination .disabled {color: #0C4664;
font-size: 11px;
text-transform: capitalize;}

.pagination {color: #0C4664;
font-size: 11px;
text-transform: capitalize;}

.maillist_new {
  background: none repeat scroll 0 0 #F5F5F5;
border-bottom: 1px solid #CCCCCC;
border-right: 1px solid #DDDDDD;
color: #000000;
font-weight: normal !important;
padding: 6px 10px;
width: 128px !important;
}
#message_main_box .message_comment{
border:1px solid rgb(192, 192, 192);
min-height:70px;
border-top:none;
font-size:12px;
}
.maillist_content {
  border-bottom: 1px solid #DDDDDD;
  padding-left: 10px; border-right:1px solid #DDDDDD;
}

.mid_profile_top #signinbutton {
  background: none repeat scroll 0 0 #19547F;
  border: 0 none;
  color: #FFFFFF;
  font-family: 'MyriadPro-Regular';
  font-size: 13px;
  font-weight: normal;
  padding: 7px 13px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius:2px;
}

#message_main_box_left {
    color: #0c4664;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 0;
    text-transform: capitalize;
    width: 495px;
}

#message_top_main {
    float: left;
    height: auto;
    margin: 0 0 5px;
    padding: 0;
    width: 475px;
}

#message_main_box {
    float: left;
    height: auto;
    width: 475px;
}

#message_main_box_right {
    float: left;
    height: auto;
    padding-bottom: 5px;
    width: 100%;
}
#message_main_box_right ul li a {
    background-color: #154c74;
    border: 1px solid #0d2939;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 20px;
    text-decoration: none;
}

#message_main_box_right ul li .active {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #000;
}
#message_main_box_right ul li a {
    background-color: #154c74;
    border: 1px solid #0d2939;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 20px;
    text-decoration: none;
}

#message_main_box_right ul li {
    display: block;
    float: left;
    list-style: outside none none;
    margin: 5px 5px 5px 0;
    padding: 0;
}

.bicky-gmail .message_title_new {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #dddddd;
    color: #000000;
    font-weight: bold;
    padding: 6px 10px;
}

.bicky-table .message_text {
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding: 6px 10px;
}



